{% extends 'base.html' %}
{% block content %}

<h2>Meus Lançamentos</h2>

<a href="{% url 'criar_lancamento' %}" class="btn btn-primary rounded-pill">
    <i class="fa-solid fa-plus me-2"></i> Novo lançamento
</a>

<table class="table table-dark table-striped-columns">

<tr>
<th>Data</th>
<th>Valor</th>
<th>Categoria</th>
<th>Tipo</th>
<th>Ações</th>
</tr>

{% for l in lancamentos %}

<tr>
<td>{{ l.data|date:"d/m/Y" }}</td>
<td>R$ {{ l.valor }}</td>
<td>{{ l.categoria }}</td>
<td>{{ l.tipo }}</td>

<td>

<a href="{% url 'editar_lancamento' l.id %}" cclass="btn btn-outline-primary btn-sm border-0" title="Editar">
    <i class="fa-solid fa-pen-to-square"></i>
</a>

<a href="{% url 'deletar_lancamento' l.id %}" class="btn btn-outline-danger btn-sm border-0" title="Excluir">
    <i class="fa-solid fa-trash"></i>
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}